h1 {
    color: #0bddec;
    text-align: center;
}
h2 {
    color:greenyellow;
    font-style: italic;
    text align: center;
}
p {
    font-family: sans-serif;
}
ul {
    line-height: 40px;
}
.line1 {
    color: coral;
}
#line2 {
    color: crimson;
}
.important {
    color: crimson;
}
.unimportant {
    color: darkkhaki;
}